body {
    background: linear-gradient(120deg, #1abc9c, #3498db);
    font-family: Arial;
}

.box {
    background: white;
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    background: #1abc9c;
    color: white;
    border: none;
}

li {
    margin-top: 10px;
}
